
//added for icons
.btn{
    &.btn-icon-left{
      .fe{
        vertical-align: baseline;
        margin-right: .25rem;
      }
    }
  
    &.btn-icon-right{
      .fe{
        vertical-align: baseline;
        margin-right: .25rem;
      }
    }
    
  }